@charset "UTF-8";

body {
            background-color: blanchedalmond; font-family:Arial, Helvetica, sans-serif; font-size: 15px; text-align: justify;
        }
        h1 {
            color:black;
        }
        h2 {
            color: brown;
        }