@charset "UTF-8";

        body {

            font-family: Arial, Helvetica, sans-serif;
            background-color: lightgray;
            margin: 0px;
        }
        header {
            background-color: white;
            padding: 10px;
            margin: 10px;            
        }
        nav {
            background-color: rgb(145, 145, 145);
            box-shadow: 5px 3px 7px 1px rgba(0, 0, 0, 0.493);
        }
        nav > a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            margin-right: 30px;
        }
        main {
            background-color: white;
            padding: 10px;
            margin: 10px;
        }
        article {
            background-color: lightgrey; 
            padding: 10px;   
        }
        article > aside {
            background-color: gray;


        }
        footer {
            background-color: black;
            color: white;
            text-align: center;           
            padding: 4px;
            margin: 0px;
        }
        footer > p {
            margin: 0px;
        }

