@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #86bf4e96;
    margin: 0px;            
}

header {
    background-image: linear-gradient(to bottom, #20bb63, #0e5e31);
    padding: 10px;
    text-align: center;
    color: white;
}

header > h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.616);
}

header > p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 1.1em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.418);
}

nav { 
    background-image: linear-gradient(to bottom, #0e5e31);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.411);
}

nav > a {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition-duration: 0.4s;
}

nav > a:hover {
    background-color: #20bb63;
    color: #022601;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h2 {
    color: #022601;
    font-family: 'idroid', sans-serif;
    background-image: linear-gradient(to right, #087a0475, #357c0260, #4fbd004d);
    padding: 3px;  
    font-weight: normal; 
}

a {
    text-decoration: none;
    color: #022601;
}

h3 {
    background-color: #0e5e31;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px 10px 0px 0px;
    padding: 1%;
    box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.493);
}

img {
    width: 100%;
    align-items: center;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: normal;
    text-decoration: underline;
}

strong {
    color: #022601;
}

footer {
    background-image: linear-gradient(to bottom, #20bb63, #0e5e31);
    text-align: center;  
    padding: 0.1px;
    color: white;
    font-size: small;
    font-weight: bold;
}

#titulo-texto {
    color: #022601;
    font-family: 'idroid', sans-serif;
    font-size: 2.2em;
    font-weight: normal;
    text-align: center;
}

.artigo {
    background-color: white;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    margin-bottom: 40px;
    padding: 15px;       
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
}

#texto-artigo {
    text-align: justify;
    text-indent: 35px;
} 

div.video {
    background-color: #0e5e31;
    margin: 0px -15px 30px -15px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;    
}

#lista {
    background-color: #f2db6b8e;
    margin-top: -20px;
    border-radius: 0px 0px 10px 10px;
    padding: 1%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
}






