@charset "UTF-8";

    * {                      /* ESSA TAG -> * { SIGNIFICA CONFIGURAÇÃO GLOBAL DAS CSS*/           
         height:auto; 
    }
    body {
        background-image: linear-gradient(to bottom, #DAFDBA, #9AEBA3);
        
        font-size: 16px; font-family:Georgia, 'Times New Roman', Times, serif;
        
        background-attachment: fixed;

        text-align: justify;

    }
    main {
        background-color: rgb(255, 255, 255);
        padding: 10px;
        margin: auto;
        border-radius: 3%;
        box-shadow: 5px 5px 15px #6ba1718e;

    }
    h1 {
        text-align: center;
        color: #13678A;
        text-shadow: 1px 1px 2px #0a364983;
    }
    h2 {
        text-align: justify;
        color: #13678A;
    }
    p {
        text-align: justify;
        color:#012030
    }
